#navbar {
	width: 100%;
}
#brand {
	color: white;
}
#basic-navbar-nav {
	justify-content: space-between;
	align-items: center;
}
#nav {
	color: white;
	width: 100%;
}

#beer-link,
#beer-link-1,
#beer-link-2 {
	color: white;
}

#beer-link-2 {
	align-self: flex-start;
}
